.assets
.env
.env.*
!.env.example
*.pyc
*.pyo
*.pyd
*.log
dist/
build/
docs/
*.egg-info/
*.egg
*.whl
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
.ruff_cache/
.mypy_cache/
microbot-env/
var/
node_modules/
package-lock.json
.DS_Store
.idea/
.vscode/
*.swp
*~
